@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Comic Neue', cursive;
    color: white;
}

.telaPerdeu{
    width: 100vw;
    height: 100vh;
    background-image: url("imagens/plano-de-fundo.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.div-pai{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo-perdeu{
    display: flex;
    justify-content: center;
    color: #ff7d00;
    font-size: 30px;
}

.box-pontuacao{
    color: black;
    font-size: 2.3rem;
    background-color: #ffecd1;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    border: 5px solid #ff7d00 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pontuacao-final{
    color: #ff7d00;
    font-size: 4.0rem;
    margin: 0;
}

.botoes-de-retorno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.jogarNovamente, .menu{
    font-family: 'Comic Neue', cursive;
    color: white;
    width: 300px;
    border-radius: 10px;
    font-size: 1.0rem;
    border: 2.5px solid #ffecd1;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    box-shadow: 0 4px 0 rgba(0,0,0,0.2); 
}

.jogarNovamente{
    background-color: #ff7d00;
}

.menu{
    background-color: #15616d;
}

.jogarNovamente:hover, .menu:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 0 rgba(0,0,0,0.3); 
    filter: brightness(1.2); 
}

.jogarNovamente:active, .menu:active {
    transform: scale(0.95);
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

.criadoresDoJogo{
    display: flex;
    justify-content: center;
    color: #ffecd1;
    padding: 0%;
    font-size: 15px;
}