@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0%;
    font-family: 'Comic Neue', cursive; 
    width: 800px;
    height: 600px;
    color:  #001524;
    background-color: #ffecd1;
    border: #ff7d00 2,5px solid;
    border-radius: 50px;
    font-size: 18px;
}
span{
    font-weight: bold;
}
button{
    whidth: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: #15616d solid 2.5px;
    border-radius: 10px;
    background-color: #ff7d00;
}
button:active{
    transform: scale(0.95);
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}
button:hover{
    transform: scale(1.1); 
    box-shadow: 0 8px 0 rgba(0,0,0,0.3); 
    filter: brightness(1.2); 
}
